<section id="gallery" class="section">
  <div>
    <h2 class="headings text-center primary-text" style="margin-bottom: 64px;">Galeri Kegiatan</h2>
    <div class="activity-gallery">
      <div class="gallery-col col-1">
        <div>
          <img src="images/gallery/g11.webp" style="width: 376px; height: 254px;" alt="EMC 2023 activity photo"/>
        </div>
        <div>
          <img src="images/gallery/g12.webp" style="width: 376px; height: 520px;" alt="EMC 2023 activity photo"/>
        </div>
        <div class="d-flex align-items-end">
          <img src="images/gallery/g13.webp" style="width: 376px; height: 520px;" alt="EMC 2023 activity photo"/>
        </div>
      </div>
      <div class="gallery-col col-2">
        <div style="width: 376px; height: 302px; oveflow: hidden;">
          <img src="images/gallery/g21.webp" alt="EMC 2023 activity photo"/>
        </div>
        <div style="width: 376px; height: 254px; overflow: hidden;">
          <img src="images/gallery/g22.webp" alt="EMC 2023 activity photo"/>
        </div>
        <div style="width: 376px; height: 355px; overflow: hidden;">
          <img src="images/gallery/g23.webp" alt="EMC 2023 activity photo"/>
        </div>
        <div class="d-flex align-items-end" style="width: 376px; height: 254px; overflow: hidden;">
          <img src="images/gallery/g24.webp" alt="EMC 2023 activity photo"/>
        </div>
      </div>

      <div class="gallery-col col-3">
        <div style="width: 376px; height: 266px; oveflow: hidden;">
          <img src="images/gallery/g31.webp" alt="EMC 2023 activity photo"/>
        </div>
        <div style="width: 376px; height: 442px; overflow: hidden;">
          <img src="images/gallery/g32.webp" alt="EMC 2023 activity photo"/>
        </div>
        <div style="width: 376px; height: 189px; overflow-hidden;">
          <img src="images/gallery/g33.webp" alt="EMC 2023 activity photo"/>
        </div>
        <div class="d-flex align-items-end" style="width: 376px; height: 374px; overflow: hidden;">
          <img src="images/gallery/g34.webp" alt="EMC 2023 activity photo"/>
        </div>
      </div>
    </div>
  </div>
</section>