<section id="pemodalan" class="section">
  <div class="pemodalan-container">
    <div class="row g-0 p-0 gap-5">
      <div class="col-xl-8 col-lg">
        <h2 class="headings primary-text mb-4">Raih Pemodalan Bisnis senilai:</h2> 
        <div class="row g-0 p-0">
          <div class="col-md-6">
            <div class="d-flex flex-column gap-3">
              <div class="d-flex gap-4 py-3">
                <img src="images/noto_1st-place-medal.svg" syle="width: 72px; height: 72px;" alt="1st-place-medal"/>
                <div class="d-flex flex-column">
                  <span class="winner-cat">Juara 1</span>
                  <span class="prize-amount">50 Juta Rupiah</span>
                </div>
              </div>
              <div class="d-flex gap-4 py-3">
                <img src="images/noto_2nd-place-medal.svg" syle="width: 72px; height: 72px;" alt="2nd-place-medal"/>
                <div class="d-flex flex-column">
                  <span class="winner-cat">Juara 2</span>
                  <span class="prize-amount">40 Juta Rupiah</span>
                </div>
              </div>
              <div class="d-flex gap-4 py-3">
                <img src="images/noto_3rd-place-medal.svg" syle="width: 72px; height: 72px;" alt="3rd-place-medal"/>
                <div class="d-flex flex-column">
                  <span class="winner-cat">Juara 3</span>
                  <span class="prize-amount">30 Juta Rupiah</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex flex-column gap-3">
              <div class="d-flex gap-4 py-3">
                <img src="images/noto_4th-place-medal.svg" syle="width: 72px; height: 72px;" alt="4th-place-medal"/>
                <div class="d-flex flex-column">
                  <span class="winner-cat">Juara Harapan 1</span>
                  <span class="prize-amount">20 Juta Rupiah</span>
                </div>
              </div>
              <div class="d-flex gap-4 py-3">
                <img src="images/noto_5th-place-medal.svg" syle="width: 72px; height: 72px;" alt="5th-place-medal"/>
                <div class="d-flex flex-column">
                  <span class="winner-cat">Juara Harapan 2</span>
                  <span class="prize-amount">10 Juta Rupiah</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="px-4 py-3 mt-5" style="background-color: var(--primary0); border-radius: 6px;">
          <p class="m-0 primary-text">Keterangan:</p>
          <ol class="m-0 ps-4">
            <li class="primary-text">Syarat dan Ketentuan Berlaku</li>
            <li class="primary-text">Biaya Transportasi, Akomodasi, dan Konsumsi akan diberikan kepada 20 Peserta yang lolos sesi Bootcamp.</li>
          </ol>
        </div>
      </div>
      <div class="col-xl">
        <div class="pemodalan-wrap">
          <img src="images/trophy_and_medal.webp" alt="pemuda di meja kerja"/>
        </div>
      </div>
    </div>
  </div>
</section>