<section id="persyaratan" class="section">
  <div class="mt-section">
    <h2 class="headings text-center primary-text">Ketentuan Peserta</h2>
    <div class="persyaratan-banner-wrap">
      <img src="images/persyaratan_banner.webp" alt="mahasiswa"/>
    </div>
    <div style="max-width: 780px;" class="mx-auto mt-5">
      <ol>
        <li style="color: var(--neutral9);">
          <p>Warga negara Indonesia dan beragama Hindu.</p>
        </li>
        <li style="color: var(--neutral9);">  
          <p>Mahasiswa perguruan tinggi.</p>
        </li>
        <li style="color: var(--neutral9);">
          <p>Peserta merupakan perorangan.</p>
        </li>
        <li style="color: var(--neutral9);">
          <p>Menyertakan foto diri, KTP, kartu mahasiswa dan surat pernyataan keaktifan mahasiswa dari kampus.</p>
        </li>
        <li style="color: var(--neutral9);">
          <p>Mengirimkan proposal bisnis, berupa dokumen dan presentasi video melalui website.</p>
        </li>
        <li style="color: var(--neutral9);">
          <p>Setelah lulus Audisi, peserta bersedia untuk mengikuti Bootcamp, Grand Final, dan Awarding  yang akan diadakan secara offline di Jakarta</p>
        </li>
      </ol>
    </div>
  </div>
</section>