<section id="rangkaian-acara" class="section">
  <div class="mt-section">
    <h2 class="headings text-center primary-text">Rangkaian Acara</h2>
    <div class="row g-0 p-0">
      <div class="col-xl-6">
        <div class="rangkain-banner-wrap">
          <img src="images/rangkaian_banner.webp" alt="pemuda di meja kerja" />
        </div>
      </div>
      <div class="col-xl-6">
        <div class="timeline">
          <div class="tl-container right">
            <div class="content">
              <p>Registrasi</p>
              <span>7 Juni - 22 Juli 2023</span>
            </div>
          </div>
          <div class="tl-container right">
            <div class="content">
              <p>Seleksi Administrasi</p>
              <span>14 Agustus - 1 September 2023</span>
              </div>
            </div>
            <div class="tl-container right">
              <div class="content">
                <p>Seleksi Proposal</p>
                <span>4 September - 15 September 2023</span>
              </div>
            </div>
            <div class="tl-container right">
              <div class="content">
                <p>Audisi - Online</p>
                <span>25 September - 2 Oktober 2023</span>
              </div>
            </div>
            <div class="tl-container right">
              <div class="content">
                <p>Pembekalan - Online</p>
                <span>23 Oktober - 10 November 2023</span>
              </div>
            </div>
            <div class="tl-container right">
              <div class="content">
                <p>Bootcamp - Offline</p>
                <span>20 November - 21 November 2023</span>
              </div>
            </div>
            <div class="tl-container right">
              <div class="content">
                <p>Grand Final</p>
                <span>22 November - 23 November 2023</span>
              </div>
            </div>
            <div class="tl-container right">
              <div class="last-content">
                <p>Awarding</p>
                <span>24 November 2023</span>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>