<section id="video" class="section" style="margin-top: 100px;">
  <div class="video-container">
    <iframe title="EMC 2023" src="https://drive.google.com/file/d/1Tmg1BXhUzQuPikyr06mbftsVDDicbVcB/preview" allow="autoplay" allowfullscreen="true"></iframe>
  </div>
</section>